.container {
    display: grid;
    grid-template-columns: auto 1fr 95px auto 50px;
    border: solid black 3px;
    border-radius: 5px;
}

.container>* {
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .container {
        border: 0;
    }
}
