* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  
  
}

/* hides the scrollbar when the search result is big enough*/
::-webkit-scrollbar {
  display: none;
}
